.navbar {
    background: linear-gradient(#B4FEE7, rgba(253, 73, 160, 0.175), rgba(255,255,255,0)); 
  }

a.navbar-brand {
    font-family: 'Love Light';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;

    color: #603F8B;
}

 .navbar-nav a.nav-link:focus, .navbar-nav a:hover {
    color: #FD49A0 !important;
    transition: .3s ease-in-out;
}

a.nav-link {
    font-family: 'Love Light';
    font-weight: 400;
    font-size: 35px;

    color: #603F8B;
}

.avatar img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 2;
    object-fit: cover;

}

.avatar {
    position: relative;
    display:inline-block;
}

.avatar::after {
  position: absolute;
  top: -4px; bottom: -4px;
  left: -4px; right: -4px;
  background: linear-gradient(#B4FEE7, Fuchsia);
  content: '';
  z-index: -1;
  border-radius:50%;
}